* {
    margin: 0px;
    padding: 0px;
    font-family: "Almarai", sans-serif;
    color : black
}

.forgot-text-1 {
    position: absolute;
    top: 40px;
    left: 150px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}

.forgot-textarea {
    position: absolute;
    left: 60px;
    top:200px;
    width : 350px;
    height: 50px;
    background-color: #E6E6E6;
    border-radius: 8px;
    padding : 10px;
    border: 1px solid white;
}

.forgot-recieve {
    position: absolute;
    top: 140px;
    left: 60px;
    right: 60px;
    text-align: center;

}

.forgot-btn-1 {
        position: absolute;
        left: 60px;
        top: 280px;
        width: 350px;
        height: 47px;
        font-size: 18px;
        font-weight: bold;
        background-color: #FF914D;
        border: none;
        border-radius: 8px;
}

.forgot-btn-1:hover
{
    background-color: black;
    color: white;
}

.forgot-p-2 {
    position: absolute;
    top: 340px;
    left: 130px;
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .forgot-text-1 {
        left: 108px;
    }

    .forgot-textarea {
        width: 320px;
        left: 30px;
        top: 220px;
    }

    .forgot-btn-1 {
        width: 320px;
        left: 30px;
        top: 310px;
    }

    .forgot-p-2 {
        top: 362px;
        left: 86px;
    }
}