:root {
    --showDepositDiv : block;
    --showWithdrawalDiv : none;
    --backgroundDepositColor : #E6E6E6;
    --backgroundWithdrawalColor : white
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Almarai", sans-serif;
    color : black
}

.funding-main-div {
    position: relative;
    width: 100%;
    height: 952px;
    background-color: #E6E6E6;
}

.aboutusimg-2 {
    width: 100%;
    height: 300px;
    filter: brightness(25%);
}

.funding-title {
    position: absolute;
    top: 96px;
    left: 34%;
    color: #FF914D;
    font-size: 64px;
    font-weight: bold;
}

.funding-subtitle {
    position: absolute;
    top: 350px;
    left: 38%;
    font-size: 50px;
}

.funding-deposit-div {
    position: absolute;
    top: 471px;
    width: 100%;
    border: 2px dashed red;
    display: var(--showDepositDiv);
    border: none;
    border-radius: 8px;

}

.funding-with-div {
    position: absolute;
    top: 473px;
    width: 100%;
    display: var(--showWithdrawalDiv);
    border: none;
    border-radius: 8px;
}

.deposit-div {
    position: absolute;
    top: 480px;
    left: 574px;
    width: 410px;
    height: 70px;
    border: none;
    background-color: var(--backgroundDepositColor);
    border-radius: 8px 8px 0px 0px ;
}

.with-div {
    position: absolute;
    top: 480px;
    left: 993px;
    width: 410px;
    height: 70px;
    border: none;
    background-color: var(--backgroundWithdrawalColor);
    border-radius: 8px 8px 0px 0px ;
}

.with-text {
    position: absolute;
    top: 21px;
    left: 33%;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.deposit-text {
    position: absolute;
    top: 21px;
    left: 40%;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.fundingdepositimg {
    position: absolute;
    top: 84px;
    left: 485px;
    width: 993px;

}

.fundingwithdrawalimg {
    position: absolute;
    top: 82px;
    left: 485px;
    width: 993px; 
}

.funding-btn-1 {
    position: absolute;
    top: 142px;
left: 1275px;
    color: black;
    font-weight: bold;
    width: 140px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #FF914D;
    font-size: 14px;
}

.funding-btn-2 {
    position: absolute;
    top: 215px;
left: 1275px;
    color: black;
    font-weight: bold;
    width: 140px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #FF914D;
    font-size: 14px;
}

.funding-btn-3 {
    position: absolute;
    top: 289px;
left: 1275px;
    color: black;
    font-weight: bold;
    width: 140px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #FF914D;
    font-size: 14px;
}

.funding-btn-4 {
    position: absolute;
    top: 361px;
left: 1275px;
    color: black;
    font-weight: bold;
    width: 140px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #FF914D;
    font-size: 14px;
}

.funding-btn-8 {
    position: absolute;
    top: 361px;
left: 1275px;
    color: black;
    font-weight: bold;
    width: 140px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #FF914D;
    font-size: 14px;
}

.funding-btn-5 {
    position: absolute;
    top: 142px;
left: 1275px;
    color: black;
    font-weight: bold;
    width: 140px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #FF914D;
    font-size: 14px;
}

.funding-btn-6 {
    position: absolute;
    top: 215px;
left: 1275px;
    color: black;
    font-weight: bold;
    width: 140px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #FF914D;
    font-size: 14px;
}

.funding-btn-7 {
    position: absolute;
    top: 289px;
left: 1275px;
    color: black;
    font-weight: bold;
    width: 140px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #FF914D;
    font-size: 14px;
}

.funding-btn-1:hover {
    background-color: black;
    color: white;
}

.funding-btn-2:hover {
    background-color: black;
    color: white;
}

.funding-btn-3:hover {
    background-color: black;
    color: white;
}

.funding-btn-4:hover {
    background-color: black;
    color: white;
}

.funding-btn-5:hover {
    background-color: black;
    color: white;
}

.funding-btn-6:hover {
    background-color: black;
    color: white;
}

.funding-btn-7:hover {
    background-color: black;
    color: white;
}

.funding-btn-8:hover {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 800px) {

    .funding-main-div {
        height: 630px;
    }

    .aboutusimg-2 {
        height: 170px;
    }

    .funding-title {
        position: absolute;
        top: 60px;
        left: 40px;
        color: #FF914D;
        font-size: 28px;
        font-weight: bold;
    }

    .funding-subtitle {
        position: absolute;
        top: 202px;
        left: 18%;
        font-size: 26px;
    }

    .funding-deposit-div {
        position: absolute;
        top: 348px;
        width: 100%;
        display: var(--showDepositDiv);
    }

    .funding-with-div {
        position: absolute;
        top: 348px;
        width: 100%;
        display: var(--showWithdrawalDiv);
    }

    .deposit-div {
        position: absolute;
        top: 264px;
        left: 45px;
        width: 150px;
        height: 50px;
    }

    .with-div {
        position: absolute;
        top: 264px;
        left: 200px;
        width: 150px;
        height: 50px;
    
    }

    .deposit-text {
        position: absolute;
        top: 12px;
        left: 39px;
        font-size: 18px;
        font-weight: bold;

    }

    .with-text {
        position: absolute;
        top: 12px;
        left: 22px;
        font-size: 18px;
        font-weight: bold;

    }

    .fundingdepositimg {
        position: absolute;
        top: -35px;
        left: -31px;
        width: 139%;
        height: 202px;
    
    }

    .fundingwithdrawalimg {
        position: absolute;
        top: -35px;
        left: -31px;
        width: 139%;
        height: 202px;
    
    }

    .funding-btn-1 {
        position: absolute;
        top: 181px;
        left: 91px;
        display: block;
        width: 222px;
        height: 42px;
    }

    .funding-btn-2 {
        display: none;
    }

    .funding-btn-3 {
        display: none;
    }

    .funding-btn-4 {
        display: none;
    }

    .funding-btn-5 {
        position: absolute;
        top: 181px;
        left: 91px;
        display: block;
        width: 222px;
        height: 42px;
    }

    .funding-btn-6 {
        display: none;
    }

    .funding-btn-7 {
        display: none;
    }

    .funding-btn-8 {
        display: none;
    }

    
}