* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}

.main-container {
    display: block;
    width: 100%;
    height: 90px;
    border-bottom: 2px solid rgb(184, 181, 181);
}

.logo-icon {
    position: absolute;
    top: 20px;
    left: 220px;
    width: 60px;
}

.logo-name {
    position: absolute;
    font-weight: bold;
    font-size: 31px;
    left: 286px;
    top: 39px;
    color: #494747;
}

.signup-btn {
    position: absolute;
    right: 392px;
    top: 39px;
    width: 160px;
    height: 40px;
    font-size: 18px;
    background-color: #49BEB7;
    color: white;
    border: none;
    border-radius: 8px;
}

.login-btn {
    position: absolute;
    right: 220px;
    top: 39px;
    width: 160px;
    height: 40px;
    font-size: 18px;
    background-color: #FF914D;
    border: none;
    border-radius: 8px;
}

.signup-btn:hover {
    border: 1px solid rgb(255, 255, 255);
}

.login-btn:hover {
    border: 1px solid white;
}

.bg-body-tertiary {
    background-color: white !important;
}

.me-auto {
    position: absolute;
    left: 590px;
    top : 40px;
    font-weight: 400px;
}

@media only screen and (max-width: 800px) {
    .main-container {
        display: block;
        width: 100%;
        height: 72px;
        border-bottom: 2px solid rgb(184, 181, 181);
        z-index: 2;
    }

    .logo-icon {
        position: absolute;
        top: 23px;
        left: 95px;
        width: 40px;
    }

    .logo-name {
        display: none;
    }

    .me-auto.navbar-nav {
        position: absolute;
        left: 0px;
        top : 73px;
        background-color: #F5F5F5;
        padding-left: 20px;
        z-index: 10;
    }

    div.container {
        padding-top: 15px;
    }

    .login-btn {
        position: absolute;
        right: 15px;
        top: 28px;
        width: 80px;
        height: 31px;
        font-size: 12px;
        background-color: #FF914D;
        border: none;
        border-radius: 8px;
    }

    .navbar-toggler {
        position: absolute;
        left: 15px;
        top : 27px;
        padding : 0px 0px;
    }

    .signup-btn {
        position: absolute;
        right: 100px;
        top: 28px;
        width: 80px;
        height: 31px;
        font-size: 12px;
        background-color: #49BEB7;
        color: white;
        border: none;
        border-radius: 8px;
    }

    .menu-items {
        font-style: normal;
        font-size: 15px !important;
    }

}