:root {
    --xCordinate: 6px;
  }


* {
    margin: 0px;
    padding: 0px;
    font-family: "Almarai", sans-serif;
    color : black
}

.homepage-container {
    width: 100%;
}

.main-app-div {
    width: 100%;
    height: 3268px;
    position: relative;
    left : 0px;
    right: 0px;
    background-color: #F5F5F5;
}

.app-div {
    width: 70%;
    height: 460px;
    position: absolute;
    top : 60px;
    left: 220px;
    background-color: #49BEB7;
    border-radius: 50px;
}

.text-1 {
    position: absolute;
    top: 30px;
    left: 60px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.app-name {
    position: absolute;
    top: 75px;
    left: 60px;
    font-size: 60px;
    font-weight:900;
}

.text-2 {
    position: absolute;
    top: 176px;
    left: 60px; 
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.androidappimg {
    position: absolute;
    top: 28px;
    right: 37px;
    width: 746px;
    border-radius: 53px;
}

.applebuton {
    position: absolute;
    bottom: 60px;
    left: 60px;
}

.applebuton:hover {
    opacity: 80%;
}

.googlebutton {
    position: absolute;
    bottom: 61px;
    left: 259px;
}

.googlebutton:hover {
    opacity: 80%;
}

.instrument-div {
    width: 72%;
    height: 670px;
    position: absolute;
    top : 580px;
    left: 220px;
    border-radius: 50px;
}

.text-3 {
    position: absolute;
    top: 50px;
    right: 212px;
    font-size: 40px;
    font-weight: bold;
}

.text-4 {
    position: absolute;
    top: 130px;
    right: 30px;
    font-size: 21px;
}

.text-5 {
    position: absolute;
    top: 224px;
    right: 278px;
    font-size: 21px;
}

.instrumentimg {
    position: absolute;
    top: 76px;
    width: 50%;
}

.text-6 {
    position: absolute;
    top: 286px;
    right: 287px;
    font-size: 21px;
}

.text-7 {
    position: absolute;
    top: 341px;
    right: 343px;
    font-size: 21px;
}

.text-8 {
    position: absolute;
    top: 404px;
    right: 259px;
    font-size: 21px;
}

.text-9 {
    position: absolute;
    top: 465px;
    right: 355px;
    font-size: 21px;
}

.tickimg-1 {
    position: absolute;
    right: 530px;
    top : 286px;
    width : 25px

}

.tickimg-2 {
    position: absolute;
    right: 530px;   
    top: 341px;
    width : 25px
}

.tickimg-3 {
    position: absolute;
    right: 530px; 
    top: 404px;
    width : 25px
}

.tickimg-4 {
    position: absolute;
    right: 530px;
    top: 465px;
    width : 25px
}

.joinnow-btn {
    position: absolute;
    right: 370px;
    top: 524px;
    width: 178px;
    height: 47px;
    font-size: 22px;
    font-weight: bold;
    background-color: #FF914D;
    border: none;
    border-radius: 8px;
}

.joinnow-btn:hover {
    border: 2px solid #F5F5F5;

} 

.accounttypes-div {
    position: absolute;
    top: 1350px;
    left: 220px;
    width: 70%;
    height: 1110px;
}

.accounttypesimg {
    position: absolute;
    top: 106px;
    width: 100%;
}

.trading-btn-1 {
    position: absolute;
    left: 381px;
    bottom: 84px;
    color: #49BEB7;
    font-weight: bold;
    width: 224px;
    height: 60px;
    border-radius: 5px;
    border: 3px solid #49BEB7;
}

.trading-btn-1:hover {
    border: 3px solid #FF914D;
    color: #FF914D;
}

.trading-btn-2:hover {
    border: 3px solid #FF914D;
    color: #FF914D;
}

.trading-btn-3:hover {
    border: 3px solid #FF914D;
    color: #FF914D;
}

.trading-btn-4:hover {
    border: 3px solid #FF914D;
    color: #FF914D;
}

.trading-btn-2 {
    position: absolute;
    left: 620px;
    bottom: 84px;
    color: #49BEB7;
    font-weight: bold;
    width: 224px;
    height: 60px;
    border-radius: 5px;
    border: 3px solid #49BEB7;
}

.trading-btn-3 {
    position: absolute;
    right: 247px;
    bottom: 84px;
    color: #49BEB7;
    font-weight: bold;
    width: 224px;
    height: 60px;
    border-radius: 5px;
    border: 3px solid #49BEB7;
}

.trading-btn-4 {
    position: absolute;
    right: 6px;
    bottom: 84px;
    color: #49BEB7;
    font-weight: bold;
    width: 224px;
    height: 60px;
    border-radius: 5px;
    border: 3px solid #49BEB7;

}

.leftarrowimg {
    display: none;
}

.rightarrowimg {
    display: none;
}

.tradingstep-div {
    position: absolute;
    top: 2490px;
    height: 802px;
    left: 220px;
    width: 72%;
}

.tradingstepimg{
    position: absolute;
    left: 10%;
    width: 80%;
}

.tradingstepimgmobile {
    display: none;
}

.callbackimg {
    position: absolute;
    top: 375px;
    left: 10%;
    width: 80%;
    height: 400px;
}

.textarea-name {
    position: absolute;
    top: 467px;
    right: 155px;
    width : 460px;
    height: 50px;
    background-color: #FFFCFC;
    border-radius: 10px;
    padding : 10px;
    border: 1px solid white;
}

.textarea-phone {
    position: absolute;
    top: 535px;  
    right: 155px;
    width : 460px;
    background-color: #FFFCFC;
    border-radius: 10px;
    padding : 10px;
    height: 50px;
    border: 1px solid white;
}

.callback-btn {
    position: absolute;
    top: 622px;
    right: 155px;
    width : 460px;
    height: 50px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.callback-div {
    display: none;
}

.accounttypes-p {
    position: absolute;
    left: 50%;
    top: 20px;
    font-size: 40px;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {

    .main-app-div {
        height: 2970px;
    }

    .app-div {
        width: 100%;
        height: 480px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: #49BEB7;
        border-radius: 0px;
    }

    .androidappimg {
        position: absolute;
        top: 2px;
        left: 3%;
        right: 3%;
        width: 94%;
        max-height: 300px;
        border-radius: 26px;
    }

    .text-1 {
        position: absolute;
        top: 210px;
        left: 46px;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    .app-name {
        position: absolute;
        top: 233px;
        left: 79px;
        font-size: 30px;
        font-weight:900;
        color: black;
    }
    
    .text-2 {
        position: absolute;
        top: 280px;
        left: 34px; 
        color: white;
        font-size: 15px;
    }

    .applebuton {
        position: absolute;
        bottom: 12px;
        left: 36px;
        width: 150px;
    }

    .googlebutton {
        position: absolute;
        bottom: 12px;
        left: 193px;
        width: 150px;
    }
    
    .instrument-div {
        width: 100%;
        height: 870px;
        position: absolute;
        top : 480px;
        left: 0px;
        border-radius: 50px;
    }

    .text-3 {
        position: absolute;
        top: 36px;
        right: 109px;
        font-size: 30px;
        font-weight: bold;
    }

    .text-4 {
        position: absolute;
        top: 100px;
        right: auto;
        left: 4px;
        font-size: 15px;
    }

    .text-5 {
        position: absolute;
        top: 169px;
        right: auto;
        left: 4px;
        font-size: 15px;
    }

    .text-6 {
        position: absolute;
        top: 212px;
        left: 30px;
        right: auto;
        font-size: 15px;
    }
    
    .text-7 {
        position: absolute;
        top: 250px;
        left: 30px;
        right: auto;
        font-size: 15px;
    }
    
    .text-8 {
        position: absolute;
        top: 288px;
        left: 30px;
        right: auto;
        font-size: 15px;
    }
    
    .text-9 {
        position: absolute;
        top: 326px;
        left: 30px;
        right: auto;
        font-size: 15px;
    }

    .instrumentimg {
        position: absolute;
        top: 452px;
        left: 3%;
        right: 3%;
        width: 94%;
    }

    .joinnow-btn {
        position: absolute;
        right: auto;
        left: 3%;
        top: 364px;
        width: 94%;
        height: 47px;
        font-size: 22px;
        font-weight: bold;
        background-color: #FF914D;
        border: none;
        border-radius: 8px;
    }

    .accounttypes-div {
        position: absolute;
        top: 1300px;
        left: 2px;
        width: 100%;
        height: 660px;
    }

    .accounttypesimg {
        position: absolute;
        top: 60px;
        left: var(--xCordinate);
        width: 780px;
    }
    
    .trading-btn-1 {
        position: absolute;
        left: 3%;
        right: auto;
        bottom: 21px;
        font-weight: bold;
        color: white;
        width: 94%;
        height: 47px;
        border-radius: 5px;
        border: 3px solid #49BEB7;
        background-color: #49BEB7;
    }

    .trading-btn-1:hover {
        border: 3px solid #FF914D;
        color: #FF914D;
    }
    
    .trading-btn-2 {
        display: none;
    }
    
    .trading-btn-3 {
        display: none;
    }
    
    .trading-btn-4 {
        display: none;
    }

    .leftarrowimg {
        position: absolute;
        top: 291px;
        left: 5px;
        filter: brightness(80%);
        display: block;
        width: 40px;
        background-color: white;
        border-radius: 50px;
    }

    .rightarrowimg {
        position: absolute;
        top: 291px;
        right: 5px;
        filter: brightness(80%) ;
        display: block;
        width: 40px;
        transform: scaleX(-1);
        background-color: white;
        border-radius: 50px;
    }

    .tradingstep-div {
        width: 100%;
        position: absolute;
        top: 2033px;
        height: 1000px;
        left: 1%;
    }
    
    .tradingstepimg {
        display: none;
    }
    
    .tradingstepimgmobile {
        position: absolute;
        top: -40px;
        display: block;
        width: 98%;
    }

    .callbackimg {
        display: none;
    }
    
    .textarea-name {
        position: absolute;
        top: 655px;
        right: 8%;
        width : 84%;
        height: 50px;
        background-color: #FFFCFC;
        border-radius: 10px;
        padding : 10px;
        border: 1px solid white;
        z-index: 5;
    }
    
    .textarea-phone {
        position: absolute;
        top: 723px;  
        right: 8%;
        width : 84%;
        background-color: #FFFCFC;
        border-radius: 10px;
        padding : 10px;
        height: 50px;
        border: 1px solid white;
        z-index: 5;
    }
    
    .callback-btn {
        position: absolute;
        top: 816px;
        right: 8%;
        width : 84%;
        height: 50px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        z-index: 5;
    }
    

    .callback-div {
        position: absolute;
        top: 520px;
        display: block;
        width: 100%;
        height: 393px;
        background-color:#49BEB7 ;
    }

    .text-10 {
        position: absolute;
        top: 40px;
        left: 100px;
        font-size: 30px;
        font-weight: bold;
    }

    .text-11 {
        position: absolute;
        top: 74px;
        left: 50px;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }

    .accounttypes-p {
        position: absolute;
        left: 25%;
        top: 0px;
        font-size: 30px;
        font-weight: bold;
    }

}



