* {
    margin: 0px;
    padding: 0px;
    font-family: "Almarai", sans-serif;
    color : black
}

.login-main-div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #49BEB7;
}

.login-div-1 {
    position: absolute;
    width: 25%;
    background-color: white;
    height: 50%;
    top: 10%;
    left: 25%;
    border-radius: 20px 0px 0px 20px;
}

.login-div-2 {
    position: absolute;
    width: 25%;
    background-color: #070417;
    height: 50%;
    top: 10%;
    right: 25%;
    border-radius: 0px 20px 20px 0px;
}

.login-text-1 {
    position: absolute;
    top: 40px;
    left: 102px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}

.login-textarea {
    position: absolute;
    left: 60px;
    width : 350px;
    height: 50px;
    background-color: #E6E6E6;
    border-radius: 8px;
    padding : 10px;
    border: 1px solid white;
}

#login-textarea-1 {
    top : 135px
}

#login-textarea-2 {
    top : 200px
}

.login-btn-1 {
    position: absolute;
    left: 60px;
    top: 325px;
    width: 350px;
    height: 47px;
    font-size: 22px;
    font-weight: bold;
    background-color: #FF914D;
    border: none;
    border-radius: 8px;
}

.login-btn-1:hover
{
    background-color: black;
    color: white;
}

.login-p-1 {
    position: absolute;
    top: 259px;
    left: 65px;
    font-size: 15px;
    text-decoration: none;
    color: #6e6e6e;
    font-weight: bold;
}

.login-p-1:hover {
    color: black;
}

.login-p-2 {
    position: absolute;
    top: 390px;
    left: 209px;
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.login-p-2:hover {
    color: #6e6e6e;
}

.login-p-3 {
    position: absolute;
    top: 165px;
    left: 148px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
}


.socialmedia-icon {
    position: absolute;
    top : 255px;
    width: 50px;
}

.socialmedia-icon:hover {
    opacity: 50%;
}

#facebook-icon {
    left: 50px; 
}

#instagram-icon {
    left: 130px; 
}

#linkedin-icon {
    left: 210px; 
}

#twitter-icon {
    left: 290px; 
}

#youtube-icon {
    left: 370px; 
}

@media only screen and (max-width: 800px) {
    .login-div-2{
        top: 0%;
        left: 0px;
        width: 100%;
        border-radius: 0px;
        height: 50%;
    }

    .logo-icon-signup {
        top: 10%;
        left: 41%;
    }

    .login-div-1 {
        top: 30%;
        left: 0px;
        width: 100%;
        border-radius: 0px;
        height: 90%;
    }

    .login-p-3 {
        top: 48%;
        left: 23%;
    }

    .socialmedia-icon {
        width: 40px;
        top: 71%;
    }

    
    #facebook-icon {
        left: 30px; 
    }

    #instagram-icon {
        left: 95px; 
    }

    #linkedin-icon {
        left: 165px; 
    }

    #twitter-icon {
        left: 235px; 
    }

    #youtube-icon {
        left: 295px; 
    }

    .login-text-1 {
        top: 26px;
        left: 81px;
    }

    .login-textarea {
        left: 30px;
        width: 320px;
    }

    .login-p-1 {
        left: 38px;
    }

    .login-btn-1 {
        left: 30px;
        width: 320px;
    }

    .login-p-2 {
        left: 161px;
    }
}

